.itemCardContainer {
    width: 20%;
    height: auto;
    margin: 20px auto;
    /* border: 1px solid rgb(46, 118, 40); */
    border: 1px solid rgb(168, 97, 160);
    border-radius: 5px;
}

.itemCard_title{
    background-color: rgb(33, 128, 33);
    background-color: rgb(168, 97, 160);
    color: white;
    padding: 5px;
}

.itemCard_img{
    width: 98%;
    height: 300px;
    padding: 5px;
}

.itemCard_description{
    width: 95%;
    height: 200px;
    margin: 0px auto;
    text-align: justify;
}

.itemCard_price {
    margin: 10px;
    padding: 5px;
    /* background-color: rgb(168, 97, 160); */
    background-color: salmon;
    color: white;
    font-size: x-large;
}

.productView {
    width: 95%;
    margin: 0px auto;
}

.productView > .productView_Link {
    background-color: rgb(105, 168, 250);
    background-color:cadetblue;
    color: white;
    text-decoration: none;
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    padding: 5px;
}