.itemCount {
    width: 95%;
    margin: 0px auto;
}

.itemCountButtonsContainer{
    border: 1px solid lightskyblue;
    border-radius: 5px;
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addHandler,
.deductHandler {
    border-style: none;
    padding: 5px 10px;
    background-color: white;
    color: rgb(67, 165, 218);
    font-weight: 700;
    font-size: 22px;
    cursor: pointer;

}

.addButtonCart{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(247, 159, 59);
    color:white;
    font-weight: 700;
    border: 2px solid rgb(67, 165, 218);
    border: 2px solid rgb(245, 157, 55);
    border-radius: 5px;
    cursor: pointer;
}