*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-bar{
    display: flex;
    height: 70px;
}

.nombreLogo {
    padding-left: 30px;
    padding-right: 30px;
    background-color: black;
    font-size: 32px;
    height: 70px;
    line-height: 70px;
}

.nombreLogo > a {
    text-decoration: none;
    color: white;
}

.Imagen-crasula{
    background-color: black;
}   

.ul-nav{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
}

.li-nav > a {
    text-decoration: none;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    
}

.contenedor-carrito{
    background-color: black;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.icono-carrito {
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    
}